body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.top-menu{
    background-color: #3486f3 !important;
    color: white !important;
}

.top-menu-item{
    color: white! important;
    font-weight: 500;
}

.page-heading{
    background-color: #3c8df9;
    padding: 0;
    margin-top: 5px;
    color: white;
    font-weight: 500;
    margin-bottom: 0;
}

.sub-menu{
    background-color: #e4effa;
}

.sub-menu-item{
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 6px;
}

.modal-header{
    background-color: #3486f3;
    color: white;
    width: 100%;
    display: block !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    padding-left: 4px !important
}

.modal-body{
    padding: 20px;
}

.modal-menu{
    background-color: #bbcee6;
    padding: 0!important;
}

.add-button{
    background-color: #3b8cf8 !important;
    border-color: #3b8cf8 !important;
    float: right;
}

#accordion {
    height: 700px;
  }
  
  #accordion h1 {
    font-size: 20px;
  }
  
  #accordion h1,
  #accordion p {
    margin: 0;
  }
  
  #accordion-container {
    margin-right: 400px;
  }
  
  .dx-theme-material #accordion .dx-accordion-item-title {
    display: flex;
  }
  
  .dx-theme-material #accordion h1 {
    align-self: center;
  }
  
  .options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 340px;
    top: 0;
    background-color: rgba(191, 191, 191, 0.15);
  }
  
  .options > .caption {
    font-weight: 500;
    font-size: 18px;
  }
  
  .option {
    margin-top: 10px;
  }
  
  .option > .caption {
    margin-top: 10px;
    display: inline-block;
  }
  
  .option > .dx-tagbox {
    margin-top: 2px;
  }
    

  .navbar-brand, .nav-link{
    color: white;
  }

  
  .main{
    padding: 0;
  }

  /*FOOTER CSS */
  .footer{
    position: fixed;
    bottom: -2vh;
    width: 100%;
  }
     
  .footer-display{
    background-color: #3486f3;
  }

  .footer-text{
    padding-right: 2px;
  }

  .footer-text a{
    color: white;
    font-weight: 600;
    font-size: smaller !important;
    text-decoration: none;
    cursor: pointer;
  }

  .yellow-footer-line{
    color: #FFCC00;
    padding: 3px;
    opacity: 1;
    margin: 0;
  }

  .container-fluid{
    padding: 0;
    margin: 0;
  }


  .dx-toolbar {
    background-color: rgba(191, 191, 191, 0.15);
    padding: 5px 10px;
  }
  
  .dx-list-item-icon-container,
  .dx-toolbar-before {
    width: 36px;
    padding-right: 0 !important;
    text-align: center;
  }
  
  .dx-list-item-content {
    padding-left: 10px !important;
  }
  
  .dx-button {
    background-color: rgba(191, 191, 191, -0.15);
    border: none;
  }

 .dx-theme-accent-as-background-color{
    font-weight: 500;
 }
  
  .panel-list {
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  
  .dx-drawer-expand.dx-drawer-right .panel-list {
    float: right;
  }
  
  .panel-list .dx-list-item {
    color: #fff;
    border-top: 1px solid rgba(221, 221, 221, 0.2);
  }
  
  .panel-list .dx-list-item .dx-icon {
    color: #fff !important;
  }
  
  .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
  }
  
  .options-container {
    display: flex;
    align-items: center;
  }
  
  .caption {
    font-size: 18px;
    font-weight: 500;
  }
  
  .option {
    margin-top: 10px;
    display: inline-block;
    margin-right: 50px;
  }
  
  label {
    font-weight: bold;
  }
  
  #content {
    height: 100%;
    padding: 10px 20px;
  }
  
  #content h2 {
    font-size: 26px;
  }
  
  span .dx-menu-item-text{
    padding: 0;
  }

  .btn-outline-primary{
    background-color: #0d6efd !important;
    height: 5vh;
    margin-top: 0.6vh;

  }

  .customer-name{
    position: relative;
    left: -45vw
  }

  .sub-menu-icon{
    width: 15px;
    height: 15px;
    margin-right: 3px;
  }